<h1 class="container" style="background-image: url('https://images.pexels.com/photos/5766435/pexels-photo-5766435.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">Editing Book</h1>
<div class="container" style="background-image: url('https://images.pexels.com/photos/5766435/pexels-photo-5766435.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
<%= render 'form', book: @book %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
</div>